@media (min-width: 992px) and (max-width: 1200px) {
.container{
	width: 100%;
}
.slider{
	width: 100%;
}
.portfolio_content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.rotate_section .portfolio_items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.little_square_content ul{
	display: none;
}
.work_items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer_sections{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
}

/*///////////////////////////////////TABLET VERSION////////////////////////*/

@media (max-width : 920px) {

.container{
	width: 100%;
}
.slider{
	width: 100%;
}
header nav{
	display: none;
}
.nav_content .logo{
	text-align: center;
	align-items: center;
	justify-content: center;
}
nav ul li {
  font-size: 14px;
  padding: 5px 15px;
}
.about_content .text{
	display: block;
}
.about_content .autog_text{
	display: grid;
	grid-template-columns: 1fr;
  	overflow: hidden;
}
.autog_text .text{
	text-align: center;
}
.autog_text .text p{
	width: 400px
	font-size: 25px;
	text-align: center;
}
.square_content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.rotate_section .portfolio_items{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
/*.portfolio_square{
	display: grid;
	grid-template-columns: 1fr 1fr;
}*/
.little_square_content ul{
	display: none;
}

}


@media (max-width : 500px) {
	.container{
		width: 100%;
	}
	.slider{
	width: 100%;
}
header nav{
	display: none;
}
.nav_content .logo{
	text-align: center;
	align-items: center;
	justify-content: center;
}
nav ul li {
  font-size: 14px;
  padding: 5px 15px;
}
.about_content .text{
	display: block;
}
.about_content .autog_text{
	display: grid;
	grid-template-columns: 1fr;
  	overflow: hidden;
}
.autog_text .text{
	text-align: center;
}
.autog_text .text p{
	width: 400px
	font-size: 25px;
	text-align: center;
}
.square_content {
	display: grid;
	grid-template-columns: 1fr;
}
.rotate_section .portfolio_items{
	display: grid;
	grid-template-columns: 1fr;
}
/*.portfolio_square{
	display: grid;
	grid-template-columns: 1fr 1fr;
}*/
.little_square_content ul{
	display: none;
}
}